:root {
    --body-black: #1d1d1d;
    --main-link-color: #ff6100;
    --navigation-link: #b3b3b3;
    --tooltip-background: #404040;
    --light-black: #2b2b2b;
    --white: #ffffff;
    --deep-blue: #016271;
    --light-blue: #007588;
    --lighter-black: #191919;
    --bubble-background: rgba(2, 2, 2, 0.15);
    --overlay: rgba(0, 0, 0, 0.72);
    --deep-grey: #585858;
    --font-color: #a0a0a0;
}